.lead {
  text-align: center;
}

.lead__title {
  max-width: 45rem;
  margin: 0 auto 2rem;
  font-size: 6rem;
  font-weight: 900;
  line-height: 6.25rem;
}

.lead__subtitle {
  max-width: 39rem;
  margin: 0 auto 3.5rem;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 2.25rem;
}

.lead__image {
  max-width: 67.5rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.lead__image img {
  width: 100%;
  object-fit: contain;
}

.lead__image-caption {
  margin: 0.5rem 0 0;
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .lead__image {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .lead__image {
    padding: 0;
  }

  .lead__image-caption {
    padding: 0 1.5rem;
  }
}

@media (max-width: 768px) {
  .lead__title {
    margin: 0 auto 1rem;
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
  
  .lead__subtitle {
    margin: 0 auto 2.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
