@import url('../vendor/normalize.css');
@import url('../styles/variables.css');
@import url('./header/header.css');
@import url('./footer/footer.css');

.body {
  background-color: var(--page-background-color);
}

.page {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: var(--text-color-primary);
}



